/* _content/CookieClicker/Pages/Counter.razor.rz.scp.css */
.page-container[b-4y8012ksfu] {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.score-display[b-4y8012ksfu] {
    text-align: center;
    padding: 20px;
    background-color: #CFC2BD;
    border-radius: 5px;
    width: 100%;
}

.main-content[b-4y8012ksfu] {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.possible-upgrades[b-4y8012ksfu] {
    background-color: #9AA5C0;
    padding: 5px;
    border-radius: 5px;
    width: 350px;
    height: 450px;
}

.active-upgrades[b-4y8012ksfu] {
    background-color: #918E94;
    padding: 5px;
    border-radius: 5px;
    width: 350px;
    height: 450px;
}

.clicker-button[b-4y8012ksfu] {
    min-width: 350px;
    height: 350px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}

.active-upgrades h2[b-4y8012ksfu] {
   text-align: center;
}
.possible-upgrades h2[b-4y8012ksfu] {
    text-align: center;
}

#active[b-4y8012ksfu] {
    text-align: center;
}
/* _content/CookieClicker/Shared/MainLayout.razor.rz.scp.css */
.page[b-k0kqq734wi] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-k0kqq734wi] {
    flex: 1;
}

.sidebar[b-k0kqq734wi] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-k0kqq734wi] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-k0kqq734wi]  a, .top-row .btn-link[b-k0kqq734wi] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-k0kqq734wi] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-k0kqq734wi] {
        display: none;
    }

    .top-row.auth[b-k0kqq734wi] {
        justify-content: space-between;
    }

    .top-row a[b-k0kqq734wi], .top-row .btn-link[b-k0kqq734wi] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-k0kqq734wi] {
        flex-direction: row;
    }

    .sidebar[b-k0kqq734wi] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-k0kqq734wi] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-k0kqq734wi], article[b-k0kqq734wi] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/CookieClicker/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-u90ro4v80d] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-u90ro4v80d] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-u90ro4v80d] {
    font-size: 1.1rem;
}

.oi[b-u90ro4v80d] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-u90ro4v80d] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-u90ro4v80d] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-u90ro4v80d] {
        padding-bottom: 1rem;
    }

    .nav-item[b-u90ro4v80d]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-u90ro4v80d]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-u90ro4v80d]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-u90ro4v80d] {
        display: none;
    }

    .collapse[b-u90ro4v80d] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
