/* _content/CookieClicker/Pages/Counter.razor.rz.scp.css */


.page-container[b-4y8012ksfu] {
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}

.score-display[b-4y8012ksfu] {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: #cfc2bdd6;
    border-radius: 5px;
    width: 100%;
}
.score-display h2[b-4y8012ksfu]{
    text-align: center;
    font-size: 50px;

}

.main-content[b-4y8012ksfu] {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.possible-upgrades[b-4y8012ksfu] {
    background-color: #9aa5c0d9;
    padding: 5px;
    border-radius: 5px;
    width: 330px;
    height: 620px;
}

.active-upgrades[b-4y8012ksfu] {
    background-color: #918e94d8;
    padding: 5px;
    border-radius: 5px;
    width: 330px;
    height: 620px;
}

.clicker-button[b-4y8012ksfu] {
    min-width: 350px;
    height: 350px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}

.active-upgrades h2[b-4y8012ksfu] {
    text-align: center;
    padding: 10px 0 0 0;
}

.possible-upgrades h2[b-4y8012ksfu] {
    text-align: center;
    padding: 10px 0 0 0;
}

#active[b-4y8012ksfu] {
    text-align: center;
}

td[b-4y8012ksfu] {
    padding: 4px 0 4px 0;
}

td img[b-4y8012ksfu] {
    height: 60px;
    width: 60px;
}


.error-message-box[b-4y8012ksfu] {
    background-color:#f80f0f8e; 
    text: center;
    padding: 6px;
    border-radius: 5px;
}

.clicked[b-4y8012ksfu] {
    transform: scale(0.9);
    transition: transform 0.05s ease-out;
}
/* _content/CookieClicker/Shared/MainLayout.razor.rz.scp.css */
.page[b-k0kqq734wi] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-k0kqq734wi] {
    flex: 1;
}

.sidebar[b-k0kqq734wi] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-k0kqq734wi] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-k0kqq734wi]  a, .top-row .btn-link[b-k0kqq734wi] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-k0kqq734wi] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-k0kqq734wi] {
        display: none;
    }

    .top-row.auth[b-k0kqq734wi] {
        justify-content: space-between;
    }

    .top-row a[b-k0kqq734wi], .top-row .btn-link[b-k0kqq734wi] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-k0kqq734wi] {
        flex-direction: row;
    }

    .sidebar[b-k0kqq734wi] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-k0kqq734wi] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-k0kqq734wi], article[b-k0kqq734wi] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
