

.page-container[b-4y8012ksfu] {
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}

.score-display[b-4y8012ksfu] {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: #cfc2bdd6;
    border-radius: 5px;
    width: 100%;
}
.score-display h2[b-4y8012ksfu]{
    text-align: center;
    font-size: 50px;

}

.main-content[b-4y8012ksfu] {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.possible-upgrades[b-4y8012ksfu] {
    background-color: #9aa5c0d9;
    padding: 5px;
    border-radius: 5px;
    width: 330px;
    height: 620px;
}

.active-upgrades[b-4y8012ksfu] {
    background-color: #918e94d8;
    padding: 5px;
    border-radius: 5px;
    width: 330px;
    height: 620px;
}

.clicker-button[b-4y8012ksfu] {
    min-width: 350px;
    height: 350px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}

.active-upgrades h2[b-4y8012ksfu] {
    text-align: center;
    padding: 10px 0 0 0;
}

.possible-upgrades h2[b-4y8012ksfu] {
    text-align: center;
    padding: 10px 0 0 0;
}

#active[b-4y8012ksfu] {
    text-align: center;
}

td[b-4y8012ksfu] {
    padding: 4px 0 4px 0;
}

td img[b-4y8012ksfu] {
    height: 60px;
    width: 60px;
}


.error-message-box[b-4y8012ksfu] {
    background-color:#f80f0f8e; 
    text: center;
    padding: 6px;
    border-radius: 5px;
}

.clicked[b-4y8012ksfu] {
    transform: scale(0.9);
    transition: transform 0.05s ease-out;
}
