.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.score-display {
    text-align: center;
    padding: 20px;
    background-color: #CFC2BD;
    border-radius: 5px;
    width: 100%;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.possible-upgrades {
    background-color: #9AA5C0;
    padding: 5px;
    border-radius: 5px;
    width: 350px;
    height: 450px;
}

.active-upgrades {
    background-color: #918E94;
    padding: 5px;
    border-radius: 5px;
    width: 350px;
    height: 450px;
}

.clicker-button {
    min-width: 350px;
    height: 350px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}

.active-upgrades h2 {
   text-align: center;
}
.possible-upgrades h2 {
    text-align: center;
}

#active {
    text-align: center;
}