

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}

.score-display {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: #cfc2bdd6;
    border-radius: 5px;
    width: 100%;
}
.score-display h2{
    text-align: center;
    font-size: 50px;

}

.main-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.possible-upgrades {
    background-color: #9aa5c0d9;
    padding: 5px;
    border-radius: 5px;
    width: 330px;
    height: 600px;
}

.active-upgrades {
    background-color: #918e94d8;
    padding: 5px;
    border-radius: 5px;
    width: 330px;
    height: 600px;
}

.clicker-button {
    min-width: 350px;
    height: 350px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}

.active-upgrades h2 {
    text-align: center;
    padding: 10px 0 0 0;
}

.possible-upgrades h2 {
    text-align: center;
    padding: 10px 0 0 0;
}

#active {
    text-align: center;
}

td {
    padding: 4px 0 4px 0;
}

td img {
    height: 60px;
    width: 60px;
}


.error-message-box {
    background-color:#f80f0f8e; 
    text: center;
    padding: 6px;
    border-radius: 5px;
}
